# Application Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://localhost:27017/task_management

# Authentication Security Keys
JWT_SECRET=yoursupersecurejwtsecretkeyhere
JWT_EXPIRE=30d
